html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}
.container {
    width: 1170px;
    margin: auto;
}
.flexbox {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
}
.flexbox .box {
    border: 1px solid black;
}

.flexbox .image {
    flex: 0 0 400px;
}
.flexbox .text {
    flex: 1 800px;
}
